In [55]:
import pandas as pd

item_info = pd.read_csv("../item_info.csv")
trx_table = pd.read_csv("../trx_table.csv")

In [3]:
item_info.shape, trx_table.shape

((70, 4), (654885, 4))

In [4]:
item_info.head(20)

     item code    department item_category                 item_name
0    item_cd_1         fresh    vegetables                    carrot
1    item_cd_2         fresh    vegetables                  potatoes
2    item_cd_3         fresh    vegetables                   pumpkin
3    item_cd_4         fresh    vegetables                  cucumber
4    item_cd_5         fresh    vegetables               green_beans
5    item_cd_6         fresh    vegetables                  beetroot
6    item_cd_7         fresh    vegetables                  capsicum
7    item_cd_8         fresh        fruits                  tomatoes
8    item_cd_9         fresh        fruits                    banana
9   item_cd_10         fresh        fruits                    papaya
10  item_cd_11         fresh        fruits                fuji apple
11  item_cd_12         fresh        fruits               green apple
12  item_cd_13         fresh        fruits                 pineapple
13  item_cd_14         fresh        fruits                    orange
14  item_cd_15         fresh        fruits                    grapes
15  item_cd_16         fresh        fruits                     mango
16  item_cd_17  pet_products      pet_food                  cat food
17  item_cd_18  pet_products      pet_food                dog treats
18  item_cd_19  pet_products      pet_food  chicken and liver treats
19  item_cd_20  pet_products      pet_care                 dog leash

In [5]:
trx_table.head(20)

       customer_code transaction_time   item code  sales_quantity
0   customer_code_78   1/3/2023 13:49  item_cd_12              13
1   customer_code_78   1/12/2023 8:08   item_cd_6              14
2   customer_code_78  1/17/2023 12:15   item_cd_2              14
3   customer_code_78  1/25/2023 16:37  item_cd_16              11
4   customer_code_78   2/3/2023 15:11   item_cd_3              14
5   customer_code_78   2/8/2023 12:56   item_cd_1              10
6   customer_code_78  2/17/2023 10:48   item_cd_1              17
7   customer_code_78   2/24/2023 8:15  item_cd_11              10
8   customer_code_78  2/28/2023 14:32   item_cd_7              13
9   customer_code_78  3/11/2023 12:39  item_cd_11              16
10  customer_code_78   3/15/2023 9:24  item_cd_11              13
11  customer_code_78  3/22/2023 17:20   item_cd_8              19
12  customer_code_78  3/28/2023 12:40   item_cd_6              17
13  customer_code_78   4/5/2023 10:05  item_cd_14              14
14  customer_code_78  4/13/2023 10:18  item_cd_13              18
15  customer_code_78  4/22/2023 16:55  item_cd_16              15
16  customer_code_78  4/27/2023 17:28  item_cd_13              18
17  customer_code_78   5/2/2023 11:32   item_cd_4              15
18  customer_code_78    5/9/2023 8:39  item_cd_15              24
19  customer_code_78  5/19/2023 11:35  item_cd_11              16

In [56]:
trx_table["transaction_time"] = pd.to_datetime(trx_table["transaction_time"])
trx_table["year"] = trx_table["transaction_time"].dt.year
trx_table["month"] = trx_table["transaction_time"].dt.month
trx_table["day"] = trx_table["transaction_time"].dt.day

trx_table["hour"] = trx_table["transaction_time"].dt.hour
trx_table["minute"] = trx_table["transaction_time"].dt.minute
trx_table["second"] = trx_table["transaction_time"].dt.second


trx_table.drop("second", axis=1, inplace=True)

trx_table.head(20)

,customer_code,transaction_time,item code,sales_quantity,year,month,day,hour,minute
0,customer_code_78,2023-01-03 13:49:00,item_cd_12,13,2023,1,3,13,49
1,customer_code_78,2023-01-12 08:08:00,item_cd_6,14,2023,1,12,8,8
2,customer_code_78,2023-01-17 12:15:00,item_cd_2,14,2023,1,17,12,15
3,customer_code_78,2023-01-25 16:37:00,item_cd_16,11,2023,1,25,16,37
4,customer_code_78,2023-02-03 15:11:00,item_cd_3,14,2023,2,3,15,11
5,customer_code_78,2023-02-08 12:56:00,item_cd_1,10,2023,2,8,12,56
6,customer_code_78,2023-02-17 10:48:00,item_cd_1,17,2023,2,17,10,48
7,customer_code_78,2023-02-24 08:15:00,item_cd_11,10,2023,2,24,8,15
8,customer_code_78,2023-02-28 14:32:00,item_cd_7,13,2023,2,28,14,32
9,customer_code_78,2023-03-11 12:39:00,item_cd_11,16,2023,3,11,12,39
10,customer_code_78,2023-03-15 09:24:00,item_cd_11,13,2023,3,15,9,24
11,customer_code_78,2023-03-22 17:20:00,item_cd_8,19,2023,3,22,17,20
12,customer_code_78,2023-03-28 12:40:00,item_cd_6,17,2023,3,28,12,40
13,customer_code_78,2023-04-05 10:05:00,item_cd_14,14,2023,4,5,10,5
14,customer_code_78,2023-04-13 10:18:00,item_cd_13,18,2023,4,13,10,18
15,customer_code_78,2023-04-22 16:55:00,item_cd_16,15,2023,4,22,16,55
16,customer_code_78,2023-04-27 17:28:00,item_cd_13,18,2023,4,27,17,28
17,customer_code_78,2023-05-02 11:32:00,item_cd_4,15,2023,5,2,11,32
18,customer_code_78,2023-05-09 08:39:00,item_cd_15,24,2023,5,9,8,39
19,customer_code_78,2023-05-19 11:35:00,item_cd_11,16,2023,5,19,11,35

In [57]:
full_table = pd.merge(trx_table, item_info, on="item code", how="left")

full_table.head(20)

,customer_code,transaction_time,item code,sales_quantity,year,month,day,hour,minute,department,item_category,item_name
0,customer_code_78,2023-01-03 13:49:00,item_cd_12,13,2023,1,3,13,49,fresh,fruits,green apple
1,customer_code_78,2023-01-12 08:08:00,item_cd_6,14,2023,1,12,8,8,fresh,vegetables,beetroot
2,customer_code_78,2023-01-17 12:15:00,item_cd_2,14,2023,1,17,12,15,fresh,vegetables,potatoes
3,customer_code_78,2023-01-25 16:37:00,item_cd_16,11,2023,1,25,16,37,fresh,fruits,mango
4,customer_code_78,2023-02-03 15:11:00,item_cd_3,14,2023,2,3,15,11,fresh,vegetables,pumpkin
5,customer_code_78,2023-02-08 12:56:00,item_cd_1,10,2023,2,8,12,56,fresh,vegetables,carrot
6,customer_code_78,2023-02-17 10:48:00,item_cd_1,17,2023,2,17,10,48,fresh,vegetables,carrot
7,customer_code_78,2023-02-24 08:15:00,item_cd_11,10,2023,2,24,8,15,fresh,fruits,fuji apple
8,customer_code_78,2023-02-28 14:32:00,item_cd_7,13,2023,2,28,14,32,fresh,vegetables,capsicum
9,customer_code_78,2023-03-11 12:39:00,item_cd_11,16,2023,3,11,12,39,fresh,fruits,fuji apple
10,customer_code_78,2023-03-15 09:24:00,item_cd_11,13,2023,3,15,9,24,fresh,fruits,fuji apple
11,customer_code_78,2023-03-22 17:20:00,item_cd_8,19,2023,3,22,17,20,fresh,fruits,tomatoes
12,customer_code_78,2023-03-28 12:40:00,item_cd_6,17,2023,3,28,12,40,fresh,vegetables,beetroot
13,customer_code_78,2023-04-05 10:05:00,item_cd_14,14,2023,4,5,10,5,fresh,fruits,orange
14,customer_code_78,2023-04-13 10:18:00,item_cd_13,18,2023,4,13,10,18,fresh,fruits,pineapple
15,customer_code_78,2023-04-22 16:55:00,item_cd_16,15,2023,4,22,16,55,fresh,fruits,mango
16,customer_code_78,2023-04-27 17:28:00,item_cd_13,18,2023,4,27,17,28,fresh,fruits,pineapple
17,customer_code_78,2023-05-02 11:32:00,item_cd_4,15,2023,5,2,11,32,fresh,vegetables,cucumber
18,customer_code_78,2023-05-09 08:39:00,item_cd_15,24,2023,5,9,8,39,fresh,fruits,grapes
19,customer_code_78,2023-05-19 11:35:00,item_cd_11,16,2023,5,19,11,35,fresh,fruits,fuji apple

In [58]:

full_table["department_item_category"] = full_table["department"] + "-" + full_table["item_category"]

In [59]:
df = full_table.copy()


df

,customer_code,transaction_time,item code,sales_quantity,year,month,day,hour,minute,department,item_category,item_name,department_item_category
0,customer_code_78,2023-01-03 13:49:00,item_cd_12,13,2023,1,3,13,49,fresh,fruits,green apple,fresh-fruits
1,customer_code_78,2023-01-12 08:08:00,item_cd_6,14,2023,1,12,8,8,fresh,vegetables,beetroot,fresh-vegetables
2,customer_code_78,2023-01-17 12:15:00,item_cd_2,14,2023,1,17,12,15,fresh,vegetables,potatoes,fresh-vegetables
3,customer_code_78,2023-01-25 16:37:00,item_cd_16,11,2023,1,25,16,37,fresh,fruits,mango,fresh-fruits
4,customer_code_78,2023-02-03 15:11:00,item_cd_3,14,2023,2,3,15,11,fresh,vegetables,pumpkin,fresh-vegetables
...,...,...,...,...,...,...,...,...,...,...,...,...,...
654880,customer_code_548,2023-05-30 12:42:00,item_cd_44,1,2023,5,30,12,42,lifestyle,wellness_food,green_tea_bags_25_pack,lifestyle-wellness_food
654881,customer_code_3672,2023-05-30 12:42:00,item_cd_44,1,2023,5,30,12,42,lifestyle,wellness_food,green_tea_bags_25_pack,lifestyle-wellness_food
654882,customer_code_2028,2023-05-30 12:42:00,item_cd_44,1,2023,5,30,12,42,lifestyle,wellness_food,green_tea_bags_25_pack,lifestyle-wellness_food
654883,customer_code_1163,2023-05-30 12:42:00,item_cd_44,1,2023,5,30,12,42,lifestyle,wellness_food,green_tea_bags_25_pack,lifestyle-wellness_food
654884,customer_code_3057,2023-05-30 12:42:00,item_cd_44,1,2023,5,30,12,42,lifestyle,wellness_food,green_tea_bags_25_pack,lifestyle-wellness_food

In [60]:
agg_df_department_item_category = df.groupby(['customer_code', 'department_item_category']).agg(
    total_sales_quantity=('sales_quantity', 'sum'),
    transaction_count=('transaction_time', 'count')
).reset_index()


agg_df_department_item_category

,customer_code,department_item_category,total_sales_quantity,transaction_count
0,customer_code_1,Hygiene-baby_needs,2,1
1,customer_code_1,Hygiene-beauty_and_personal_care,28,6
2,customer_code_1,animal products-frozen_meat,61,11
3,customer_code_1,animal products-seafood,12,3
4,customer_code_1,fresh-fruits,527,64
...,...,...,...,...
38846,customer_code_999,fresh-fruits,183,74
38847,customer_code_999,fresh-vegetables,149,50
38848,customer_code_999,homeware-stationery,22,3
38849,customer_code_999,household-baby_needs,1,1
38850,customer_code_999,lifestyle-wellness_food,20,4

In [61]:
agg_df_item_category = df.groupby(['customer_code', 'item_category']).agg(
    total_sales_quantity=('sales_quantity', 'sum'),
    transaction_count=('transaction_time', 'count')
).reset_index()

agg_df_item_category

,customer_code,item_category,total_sales_quantity,transaction_count
0,customer_code_1,baby_needs,3,2
1,customer_code_1,beauty_and_personal_care,28,6
2,customer_code_1,frozen_meat,61,11
3,customer_code_1,fruits,527,64
4,customer_code_1,seafood,12,3
...,...,...,...,...
34646,customer_code_999,fruits,183,74
34647,customer_code_999,seafood,12,3
34648,customer_code_999,stationery,22,3
34649,customer_code_999,vegetables,149,50
34650,customer_code_999,wellness_food,20,4

In [65]:
full_df = df.copy()

In [ ]:
# df_old = df.copy()

In [66]:
full_df

,customer_code,transaction_time,item code,sales_quantity,year,month,day,hour,minute,department,item_category,item_name,department_item_category
0,customer_code_78,2023-01-03 13:49:00,item_cd_12,13,2023,1,3,13,49,fresh,fruits,green apple,fresh-fruits
1,customer_code_78,2023-01-12 08:08:00,item_cd_6,14,2023,1,12,8,8,fresh,vegetables,beetroot,fresh-vegetables
2,customer_code_78,2023-01-17 12:15:00,item_cd_2,14,2023,1,17,12,15,fresh,vegetables,potatoes,fresh-vegetables
3,customer_code_78,2023-01-25 16:37:00,item_cd_16,11,2023,1,25,16,37,fresh,fruits,mango,fresh-fruits
4,customer_code_78,2023-02-03 15:11:00,item_cd_3,14,2023,2,3,15,11,fresh,vegetables,pumpkin,fresh-vegetables
...,...,...,...,...,...,...,...,...,...,...,...,...,...
654880,customer_code_548,2023-05-30 12:42:00,item_cd_44,1,2023,5,30,12,42,lifestyle,wellness_food,green_tea_bags_25_pack,lifestyle-wellness_food
654881,customer_code_3672,2023-05-30 12:42:00,item_cd_44,1,2023,5,30,12,42,lifestyle,wellness_food,green_tea_bags_25_pack,lifestyle-wellness_food
654882,customer_code_2028,2023-05-30 12:42:00,item_cd_44,1,2023,5,30,12,42,lifestyle,wellness_food,green_tea_bags_25_pack,lifestyle-wellness_food
654883,customer_code_1163,2023-05-30 12:42:00,item_cd_44,1,2023,5,30,12,42,lifestyle,wellness_food,green_tea_bags_25_pack,lifestyle-wellness_food
654884,customer_code_3057,2023-05-30 12:42:00,item_cd_44,1,2023,5,30,12,42,lifestyle,wellness_food,green_tea_bags_25_pack,lifestyle-wellness_food

In [67]:

df = agg_df_department_item_category.copy()

# Calculate the percentage of total_sales_quantity for each department_item_category relative to the total for each customer
df['total_sales_percentage'] = df.groupby('customer_code')['total_sales_quantity'].transform(lambda x: x / x.sum() * 100)

# Create the total_sales_quantity_breakdown column as a dictionary
df['total_sales_quantity_breakdown'] = df.apply(lambda row: {row['department_item_category']: f"{row['total_sales_percentage']:.2f}%"} , axis=1)

# Aggregate the dictionaries for each customer
result_df = df.groupby('customer_code')['total_sales_quantity_breakdown'].apply(
    lambda x: {k: v for d in x for k, v in d.items()}
).reset_index()


result_df

,customer_code,level_1,total_sales_quantity_breakdown
0,customer_code_1,Hygiene-baby_needs,0.18%
1,customer_code_1,Hygiene-beauty_and_personal_care,2.51%
2,customer_code_1,animal products-frozen_meat,5.47%
3,customer_code_1,animal products-seafood,1.08%
4,customer_code_1,fresh-fruits,47.26%
...,...,...,...
54595,customer_code_999,lifestyle-wellness_food,4.18%
54596,customer_code_999,animal products-dairy,NaN
54597,customer_code_999,pet_products-pet_care,NaN
54598,customer_code_999,pet_products-pet_food,NaN
54599,customer_code_999,household-wellness_products,NaN

In [68]:
result_df_ = result_df.copy()

In [70]:
result_df = result_df_.copy()

In [71]:
# Combine level_1 and total_sales_quantity_breakdown into a single dictionary per customer
result_df['combined'] = result_df.apply(lambda row: f"{row['level_1']}: {row['total_sales_quantity_breakdown']}" if pd.notnull(row['total_sales_quantity_breakdown']) else f"{row['level_1']}: NaN", axis=1)

# Aggregate the combined column into a single dictionary per customer
result_df = result_df.groupby('customer_code')['combined'].apply(lambda x: dict(item.split(": ") for item in x)).reset_index()


result_df

           customer_code                           level_1 combined
0        customer_code_1                Hygiene-baby_needs    0.18%
1        customer_code_1  Hygiene-beauty_and_personal_care    2.51%
2        customer_code_1       animal products-frozen_meat    5.47%
3        customer_code_1           animal products-seafood    1.08%
4        customer_code_1                      fresh-fruits   47.26%
...                  ...                               ...      ...
54595  customer_code_999           lifestyle-wellness_food    4.18%
54596  customer_code_999             animal products-dairy      NaN
54597  customer_code_999             pet_products-pet_care      NaN
54598  customer_code_999             pet_products-pet_food      NaN
54599  customer_code_999       household-wellness_products      NaN

[54600 rows x 3 columns]

In [81]:
# get data for customer_code_1
result_df[result_df['customer_code'] == 'customer_code_38']

          customer_code                           level_1 combined
40443  customer_code_38                Hygiene-baby_needs    0.10%
40444  customer_code_38  Hygiene-beauty_and_personal_care    1.37%
40445  customer_code_38       animal products-frozen_meat    2.99%
40446  customer_code_38           animal products-seafood    0.59%
40447  customer_code_38                      fresh-fruits   57.00%
40448  customer_code_38                  fresh-vegetables   35.84%
40449  customer_code_38               homeware-stationery    1.08%
40450  customer_code_38              household-baby_needs    0.05%
40451  customer_code_38           lifestyle-wellness_food    0.98%
40452  customer_code_38             animal products-dairy      NaN
40453  customer_code_38             pet_products-pet_care      NaN
40454  customer_code_38             pet_products-pet_food      NaN
40455  customer_code_38       household-wellness_products      NaN

In [47]:


df_old_old = pd.DataFrame(df_old)
# Extract year and month from the transaction time
df_old_old['year_month'] = df_old_old['transaction_time'].dt.to_period('M')

# Aggregate data by customer and month for transactions and sales_quantity
monthly_aggregation = df_old_old.groupby(['customer_code', 'year_month']).agg(
    monthly_transactions=('transaction_time', 'count'),
    monthly_total_sales_quantity=('sales_quantity', 'sum')
).reset_index()

monthly_aggregation.head()

,customer_code,year_month,monthly_transactions,monthly_total_sales_quantity
0,customer_code_1,2023-01,23,105
1,customer_code_1,2023-02,26,158
2,customer_code_1,2023-03,28,162
3,customer_code_1,2023-04,22,152
4,customer_code_1,2023-05,25,196

In [48]:
monthly_aggregation

,customer_code,year_month,monthly_transactions,monthly_total_sales_quantity
0,customer_code_1,2023-01,23,105
1,customer_code_1,2023-02,26,158
2,customer_code_1,2023-03,28,162
3,customer_code_1,2023-04,22,152
4,customer_code_1,2023-05,25,196
...,...,...,...,...
29395,customer_code_999,2023-03,28,84
29396,customer_code_999,2023-04,22,57
29397,customer_code_999,2023-05,27,108
29398,customer_code_999,2023-06,21,83
29399,customer_code_999,2023-07,6,16